body {
  margin: 0;
}

.hompe-page {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.vanilla-jsoneditor-react {
  width: 100%;
  height: 100%;
}

.jse-group-button {
  display: none;
}

.editor-container {
  width: 100%;
}

.editor-container-computing {
  filter: blur(2px);
}

.jse-menu > a.jse-download {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  padding: 0 8px;
}

.jse-menu > a.jse-download:hover {
  background-color: #5f9dff;
}
