.vanilla-jsoneditor-react {
  width: 100%;
  height: 100%;
}

.jse-group-button {
  display: none;
}

.editor-container--computing {
  filter: blur(2px);
}

.jse-menu > button.jse-update {
  background-position: -72px -72px;
}

.jse-menu > a.jse-download {
  background-position: -144px -72px;
}
